.bg-red {
  background-color: #df2020;
}

.cartImage {
  overflow: hidden;
  border: 1px solid rgb(231, 222, 222);
  flex: 20%;
  margin-right: 15px;
}

.cartImage img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.checkout-logo {
  width: 70px;
  filter: invert(100%);
}

.checkout-form {
  width: 80px;
}