.br-3 {
    border-radius: 30px;
}

.banner {
    background: linear-gradient(#212245b2, #212245b2),
    url("../assets/images/banner-02.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.banner img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

button {
    border: 2px solid black;
}

h6 {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
}
h6:before, h6:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
h6:before {
    margin-right: 10px
}
h6:after {
    margin-left: 10px
}